*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
body {
  line-height: 1.6;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  background-color: fff;
  letter-spacing: 0.5px;
  width: 100%;
  overflow-x: hidden;
}

div{
  display: block;
}
a, a:link, a:visited, a:hover, a:active {
  color: inherit !important;
  text-decoration: none !important;
}
.nav a {
  text-decoration: none;
  color: #333;
  margin: 0 20px;
  transition: color 0.3s;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  width: 100%;
}
.nav .active {
  background-color: #53C0B6;
  color: #fff;
  padding: 10px 20px;
  border-radius: 100px;
  transition: 0.2s;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
.logo img{
  width: 225px;
}
img{
  overflow-clip-margin: content-box;
  overflow: clip;
}

 .info{
  height: 100vh;
  max-width: 100%;
  background-image: url(ohs_hero.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.info h1 {
  font-weight: 500;
  line-height: 70px;
  letter-spacing: -3px;
  margin-bottom: 1rem;
}
.heading {
  width: 60%;
  font-size: 45px;
  color: #fff;
}
.info_button{
  background-color: #53C0B6;
  color: #fff;
  padding: 10px 30px;
  border-radius: 100px;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
button {
    background-color: #53C0B6;
    color: #fff;
    padding: 10px 30px;
    border-radius: 100px;
    transition: 0.3s;
    border: 1px solid rgba(255, 255, 255, 0);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.about {
  background-color: #fff;
  padding: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about_heading {
  width: 60%;
  padding-right: 12rem;
}
.about_heading h2 {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -3px;
  margin-bottom: 1.5rem;
  color: #53C0B6;
}
.about_heading p {
  font-size: 18px;
}
.about_heading span {
  text-transform: uppercase;
  font-weight: 700;
  color: #53C0B6;
}
.about_pic{
  background-image: url(ohs_about.jpg);
  background-position: center;
  background-size: cover;
  min-width: 45%;
  height: 40rem;
  border-radius: 5px;
}
.services {
  background-color: #fff;
  padding: 6rem;
}

.service_title {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -3px;
  margin-bottom: 1.5rem;
  color: #1C4E5A;
  text-align: center;
  margin-bottom: 7rem;
}
.service_wrapper {
  display: flex;
}
.service_container {
  width: 30%;
  padding-right: 6rem;
}

.service_heading h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 40px 0 20px 0;
  color: #53C0B6;
  text-transform: uppercase;
}

.service_heading h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #1C4E5A;
  margin-bottom: 60px;
  line-height: 50px;
}
.service_heading p {
  margin-bottom: 60px;
  font-size: 18px;
}
.service_heading button {
  background-color: #53C0B6;
  color: #fff;
  padding: 10px 30px;
  border-radius: 100px;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
.services_parent {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.services_box h2 {
  font-weight: 500;
}
.services_box p {
  margin-top: 1.5rem;
  font-weight: 300;
}
.box1, .box2, .box4 {
  background-color: #53C0B6;
  border-radius: 5px;
  padding: 6rem 40px;
  color: #fff;
  border: 1px solid #53C0B6;
  transition: all 0.3s;
  font-size: 18px;
}
.box3 {
  background-color: #1C4E5A;
  border-radius: 5px;
  padding: 6rem 60px 6rem 40px;
  color: #fff;
  border: 1px solid #1C4E5A;
  transition: all 0.3s;
  font-size: 18px;
}
.appointment {
  padding: 6rem;
  display: flex;
}

.text {
  width: 50%;
}
.text h1 {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -3px;
  color: #53C0B6;
  margin: 6rem 0 4rem 0;
  width: 100%;
  line-height: 85px;
}
.text p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -1px;
  color: #0f0f0f;
  width: 70%;
  line-height: 35px;
}
.text span {
  text-transform: uppercase;
  font-weight: 700;
  color: #53C0B6;
}
.calendly-inline-widget {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #f9f9f9;
}
.foo_top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: -20px;
}
.foo_logo {
  position: relative;
  width: 10%;
  padding-left: 15px;
}
.foo_logo img {
  width: 150px;
}
.foo_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  padding: 0 15rem;
}
.foo_menu p {
  margin: 35px 0;
  font-size: 14px;
  color: #1C4E5A;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.foo_socials {
  position: relative;
  min-width: 9.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
}
.foo_socials img {
  width: 30px;
  margin: 0 3px;
}

.foo_sep {
  height: 1px;
  width: 100%;
  background-color: #acacac;
  margin: 1rem 0;
}
.foo_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.copy{
  text-align: center;
  line-height: 25px;
  color: #1C4E5A;
  letter-spacing: -0.5px;
  font-size: 13px;
}
.foo_end {
  text-align: center;
  line-height: 25px;
  color: #1C4E5A;
  letter-spacing: -0.5px;
  font-size: 13px;
}
footer {
  max-width: 100%;
  padding: 1.5rem 5rem;
  position: relative;
  background-color: #f8f8f8;
  margin: auto;
}

@media (max-width: 900px) {
  .links{
    visibility: hidden;
  }
  .info{
    height: 100vh;
    width: 100%;
    background-image: url(/public/ohs_hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    padding: 0 .2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
  }
  .info h1 {
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -2.5px;
    margin-bottom: .5rem;
    margin-top: 150px;
  }
  .heading {
    width: 60%;
    font-size: 25px;
    color: #fff;
  }
  
  .info_button {
    margin-top: 20px;
      background-color: #53C0B6;
      color: #fff;
      padding: 10px 30px;
      border-radius: 100px;
      transition: 0.3s;
      border: 1px solid rgba(255, 255, 255, 0);
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
  }
  .about {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  }
  .about_heading {
    width: 100%;
    padding-right: 6rem;
    margin-bottom: 27px;
  }
  .about_heading h2 {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: -1.5px;
    margin-bottom: 1rem;
    color: #53C0B6;
  }
  .about_heading p {
    font-size: 14px;
  }
  .about_heading span {
    text-transform: uppercase;
    font-weight: 700;
    color: #53C0B6;
  }
  .about_pic img{
    background-position: center;
    background-size: cover;
    background-clip: hidden;
    width: 100%;
    height: 40rem;
    border-radius: 5px;
  }
  .services {
    background-color: #fff;
    padding: 1rem;
  }
  
  .service_title {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: -1.5px;
    color: #1C4E5A;
    text-align: left;
    margin-bottom: -5rem;
  }
  .service_wrapper {
    display: flex;
    flex-direction: column;
  }
  .service_container {
    width: 100%;
    padding-right: 1rem;
  }
  
  .service_heading h3 {
    visibility: hidden;
  }
  
  .service_heading h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #53C0B6;
    margin-bottom: 15px;
    line-height: 20px;
  }
  .service_heading p {
    margin-bottom: -10px;
    font-size: 14px;
  }
  .service_heading button {
   visibility: hidden;
  }
  .services_parent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }
  .services_box h2 {
    font-weight: 500;
  }
  .services_box p {
    margin-top: 1.5rem;
    font-weight: 300;
  }
  .box1, .box2,.box3,.box4 {
    background-color: #53C0B6;
    border-radius: 5px;
    padding: 6rem 40px;
    color: #fff;
    border: 1px solid #53C0B6;
    transition: all 0.3s;
    font-size: 18px;
  }

  .appointment {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .text {
    width: 100%;
  }
  .text h1 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1px;
    color: #53C0B6;
    margin: 1rem 0 1rem 0;
    width: 100%;
    line-height: 35px;
  }
  .text p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -.5px;
    color: #0f0f0f;
    width: 70%;
    line-height: 20px;
    margin-bottom: 25px;

  }
  .text span {
    text-transform: uppercase;
    font-weight: 700;
    color: #53C0B6;
  }
  .calendly-inline-widget {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
  }
  .foo_top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
  }
  .foo_logo {
    width: 10%;
    margin: auto;
    padding-left: 0px;
  }
  .foo_logo img {
    width: 100px;
  }
  .foo_menu {
    visibility: hidden;
  }
 
  .foo_socials {
    position: relative;
    margin-top: -75px;
    display: flex;
    margin-left: 60px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  .foo_socials img {
    width: 20px;
    margin: 0 1px;
  }
  
  .foo_sep {
   display: none;
  }
  .foo_bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0px;
  }
  .copy{
    margin-top: 10px;
    margin-left: 47px;
    text-align: center;
    line-height: 25px;
    color: #1C4E5A;
    letter-spacing: -0.5px;
    font-size: 13px;
  }
  .foo_end {
    text-align: center;
    margin-left: 47px;
    line-height: 25px;
    color: #1C4E5A;
    letter-spacing: -0.5px;
    font-size: 13px;
  }
  footer {
    width: 100%;
    padding: .1rem .1 rem;
    position: relative;
    background-color: #f8f8f8;
    margin: auto;
  }
}
